/* Estilos generales de la aplicación */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Estilos del encabezado */
.App-header {
  background-color: #131921;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-logo {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 20px;
}

/* Estilos de la barra de navegación */
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline;
}

.nav-list a,
.nav-list button {
  color: #fefffb;
  text-decoration: none;
  background: none; /* Elimina el fondo del botón */
  border: none; /* Elimina el borde del botón */
  cursor: pointer; /* Asegura que el cursor cambie a pointer */
  font-size: inherit; /* Asegura que el tamaño de la fuente sea consistente */
  padding: 0; /* Asegura que el padding sea consistente */
}

.nav-list a:hover,
.nav-list button:hover {
  text-decoration: underline;
}

/* Estilos del buscador */
.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 300px;
  height: 38px;
  box-sizing: border-box;
}

.category-select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  height: 38px;
  box-sizing: border-box;
}

.search-button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: rgb(26, 18, 18);
  cursor: pointer;
  margin-left: 10px;
  height: 38px;
}

.search-button:hover {
  background-color: #21a1f1;
}

/* Estilos de los botones */
.btn {
  margin-top: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

body {
  background-color: #ffffff; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilos para login */
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 1000;
}

.login-container h2 {
  margin-top: 0;
}

.login-container input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #218838;
}
