.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img-top {
  width: 100%; /* Ajusta la imagen al ancho del contenedor */
  height: 500px; /* Fija una altura para las imágenes */
  object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor */
  object-position: top; /* Recorta solo la parte inferior */
}

.card {
  width: 100%; /* Deja que la tarjeta ocupe el 100% del ancho de su contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; /* Añade un margen para espaciar las tarjetas */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: center; /* Centra el texto */
}

.row {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten y no se superpongan */
  justify-content: center;
}

/* Estilos para las imágenes en la página de detalles del producto */
.img-product-detail {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  max-width: 400px; /* Establece un ancho máximo para evitar imágenes demasiado grandes */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}


.quantity-control {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-input {
  width: 60px;
  text-align: center;
  margin: 0 10px;
}
